<!-- menu.component.html -->
<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <a class="nav-link active" routerLink="/" routerLinkActive="activo">Home</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/informacion" routerLinkActive="activo">Informacion</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/registro" routerLinkActive="activo">Registro de facturas</a>
    </li>
    <li class="nav-item" role="presentation">
      <a class="nav-link" routerLink="/reporte" routerLinkActive="activo">Reporte</a>
    </li>
  </ul>
  